<section>
  <section class="profile-list">
    <ul class="sort-menu">
      <a href="javascript:void(0)"><li>All</li></a>
      <a href="javascript:void(0)"><li>Popular</li></a>
      <a href="javascript:void(0)"><li>Near Me</li></a>
      <a href="javascript:void(0)"><li>My Matches</li></a>
      <a href="javascript:void(0)"><li>Chatting</li></a>
    </ul>
    <article class="profile-preview" ng-repeat="profile in profiles | limitTo : 4">
      <h5>{{profile.username}}</h5>
      <img ng-src="{{profile.avatar}}">
    </article>
  </section>
  <section class="profile-selection">

  </section>
</section>