<div ui-view></div>
<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Dating for Nerds</h1>
      <a ui-sref="#"><button>Get Started!</button></a>
    </div>

  </div>
</div>
<br>
<div class="cards">
  <div ng-repeat="user in users" class="card">
    <div class="card-image">
      <img ng-src="{{user.avatar}}" alt="user picture">
  </div>
    <div class="card-header">
      {{user.names.firstName}}
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>
</div>