@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

.login {
  $action-color: #477DCA !default;
  width: 20rem;
  height: 10rem;
  background-color: desaturate(darken($action-color, 20%), 30%);
  color: white;
}