@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

.login {
  $action-color: #477DCA !default;
  width: 40rem;
  height: 20rem;
  padding: 2rem;
  background-color: desaturate(darken($action-color, 20%), 30%);
  color: white;
  position: absolute;
  top: 5rem;
  right: 20rem;
  z-index: 1;
  form {
    input {
      color: black;
    }
    input[type="submit"] {
      color: white;
    }
  }
}

.my-profile-container {
  @include outer-container;
  padding: 1rem;
  .my-profile-form {
    @include span-columns(6);
    padding: 1rem;
  }
  .my-profile-information {
    @include span-columns(6);
    padding: 1rem;
  }
}

.one-profile {
  background-color: saturate(lighten(#f5d6eb, 5%), 30%);
  padding: 2rem;
  width: 80%;
  position: relative;
  top: 7rem;
  left: 10%;
  p {
    display: inline-block;
  }
  span {
    margin: 0 1rem;
  }
  .one-profile-summary img {
    display: inline;
  }
  .one-profile-pop {
    color: blue;
  }
  .one-profile-likes {
    color: red;
  }
  button {
    background-color: red;
    margin: 0 1rem;
  }
}

.profile-list {
  width: 35%;
  height: 100vh;
  display: inline-block;
  background-color: #f5d6eb;
}

.profile-preview {
  margin: 1rem 2rem;
  border-radius: 1rem;
  padding: .5rem;
  width: 60%;
  text-align: center;
  background-color: desaturate(darken($action-color, 20%), 30%);
  color: transparentize(white, 0.3);
  img {
    display: inline-block;
    margin: 0 1rem;
    border-radius: 1rem;
  }
}

.profile-selection {
  height: 100vh;
  width: 65%;
  float: right;
  background-image: url('../resources/imgs/browse-background.jpg');
  background-size: cover;
  h5 {
    text-align: center;
    margin: .1rem 0;
  }
}

.search-box {
  background-color: saturate(lighten(#f5d6eb, 5%), 30%);
  padding: 2rem;
  width: 90%;
  position: relative;
  top: 7rem;
  left: 5%;
}

.sort-menu {
  li {
    display: inline;
    border-bottom: .1rem solid gray;
    margin: .2rem .2rem;
  }
}
